/* .show{
    display: block;
}

.hide{
    display: none;
} */


.off{
    background-color: yellowgreen;
}


.on{
    font-size: 300px;
    /* background-color: green; */
    color: green;
    background-color: blueviolet;

}




/* .hidden {
    display: none;
  }
  
  .show {
    display: block;
    border-radius: 50%;
  }
  
  .border {
    border: 5px solid red;
  } */

